{% extends 'graficos/etapas.html' %}


{% block etapa %}


<div class="container-sm">
    <h3>Selecciona un area</h3>
    <div class="row">
        {% for a in areas %}
        <div class="col">
            <a href="{% url 'graficos_uso' a.id_area %}"><button type="button" id="area_{{ a.id_area }}" >{{a.nombre }}</button></a>
        </div>
        {% endfor %}
    </div>

</div>

{% block area %}{% endblock area %}




<script>
    document.getElementById('uso_consumo').className = "btn btn-secondary"
</script>

{% endblock etapa %}