{% extends 'base.html' %}
{% load static %}
{% block body %}

{% load crispy_forms_tags %}
<div id="wrapper">

    <div class="container" id="login" >
        
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body" id="card_"  >
                        <h2>Ingrese sus credenciales</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form | crispy}}
                            
                            <input type="submit" class="btn btn-primary" value="ingresar">
                            <div class="containter-sm">
                                <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="bg"></div>
{% endblock %}

