#home{
    margin-top: 80px;
}


#login{
    margin-top: -50px; 
    
}

#card_{
    background-color: #1b1f22;
}


#Area{
    margin-top: 50px;
}
.card{
    background-color: rgba(27, 31, 34, 0.85);
    border-radius: 15px;
}


