
{% extends 'base.html' %}
{% load static %}
{% block body %}

{% load crispy_forms_tags %}

<div id="wrapper">

    <div class="container" id="entrada" >
        <div class="row" >
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card" >
                    <div class="card-body" id="card_">
                        <h2>Ingresa una Oportunidad</h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form | crispy}}
                            
                            <div>

                                <input type="submit" class="btn btn-primary" value="ingresar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if messages %} 
      {% for m in messages %} 
        <script>
          swal.fire({
            "title": "Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
          })
        </script>
      {% endfor %} 
    {% endif %}
<div id="bg"></div>

{% endblock %}