{% extends 'autodiagnostico/auto_diagnostico.html' %}
{% load static %}
{% block titulo %}Odyssey | Home{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container-sm">
    <h4>Opciones de Compra</h4>
    <div class="row">
        
        {% if user.is_staff %}
        <div class="col">
            <a href="{% url 'entradas_compra' %}"><button type="button" id="entrada">Tabla Entradas</button></a>
        </div>
        <div class="col">
            <a href="{% url 'salida_compra' %}"><button type="button" id="salida">Tabla Salidas</button></a>
        </div>
        <div class="col">
            <a href="{% url 'oportunidad_compra' %}"><button type="button" id="oportunidad">Tabla Oportunidades</button></a>
        </div>
        
        {% else %}
        
        <div class="col">
            <a href="{% url 'agregar_entrada_compra' %}"><button type="button" id="entrada">Entradas</button></a>
        </div>
        <div class="col">
            <a href="{% url 'agregar_salida_compra' %}"><button type="button" id="salida">Salidas</button></a>
        </div>
        <div class="col">
            <a href="{% url 'agregar_oportunidad_compra' %}"><button type="button" id="oportunidad">Oportunidades</button></a>
        </div>
        {% endif %}
    </div>
</div>
<hr>
<script>
    document.getElementById("compra").className = "btn btn-secondary"
</script>


{% block compra %}{% endblock compra %}
    



{% endblock %}