{% extends 'base.html' %}
{% load static %}
{% block body %}

<section>
    <div class="container-sm" id="home">
        <div class="row">
            <h4>Hola!!!!! {{ user.username }}</h4>
            <div class="container-sm" id="seleccionarArea">
                <h4>Antes de comenzar selecciona tu empresa y area</h4>
                <a type="button" class="btn btn-primary" href="{% url 'agregarArea' %}">Aqui</a>
            </div>
            <div class="col-6" id="lista-card">
                
                

                <!-- {% for nota in notas %}
                    {% for etapa in etapas %}
                        
                        

                       

                        {%  if nota.etapa_id == etapa.id_etapa %}
                            <p>{{nota.nombre}}</p>
                        {% endif %}    
                        
                    {% endfor %}
                {% endfor %} -->
                
                <!-- <div class="container-fluid">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>                 -->
            </div>
            <!-- <div class="col-3" id="registro">
                <h4>Agrega una nueva Nota</h4>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div> -->
        </div>
    </div>
</section>
{% endblock %}